<div class="card">
  <div class="card-header"> Sucursales <button type="button" class="btn btn-sm btn-outline-success" (click)="agregar()"> <i class="bi bi-plus"></i></button></div>



  <div class="card-body">
    @if(sucursales() && sucursales().length > 0) {

      <div class="  pt-4 d-flex flex-column align-items-center">
        <div id="details" style="overflow-x: auto">
          <table class="table  table-sm small-table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">SUCURSAL</th>
                <th scope="col">DIRECCION</th>
                <th scope="col">TELEFONO</th>
                <th scope="col">EMAIL</th>

                <th scope="col">Edit</th>
              </tr>


            </thead>
            <tbody>
              @for (sucursal of sucursales(); track sucursal.id; let index = $index) {
              <tr>
                <th scope="row">{{ index + 1 }}</th>
                <td  class="text-sm">{{ sucursal.id }}</td>
                <td  class="text-sm">{{ sucursal.descripcion }}</td>
                <td  class="text-sm">{{ sucursal.direccion }}</td>
                <td  class="text-sm">{{ sucursal.telefono }}</td>
                <td  class="text-sm">{{ sucursal.email }}</td>
                <td  class="text-sm">
                  <button class="btn btn-sm btn-outline-info text-info"

                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Ver editar sucursal"  (click)="verSucursal(sucursal.id)" >
                    <i class="bi bi-pencil"></i>
                                    </button>
                </td>
              </tr>
              } @empty {
              <tr></tr>
              }
            </tbody>
          </table>
        </div>
      </div>

    } @else {
    <div class="w-100 empty-message-container">
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Atención</h4>
        <p>No se han encontrado sucursales...</p>
      </div>
    </div>
    }


  </div>
</div>
