<div class="card">
  <div class="card-header"> Productos <button type="button" class="btn btn-sm btn-outline-success" (click)="agregar()"> <i class="bi bi-plus"></i></button></div>

  <div class="card-body">

    <!-- Comprobante Numero Input -->
    <div class="input-group mb-3 w-50 d-flex selector">
      <div class="w-100 mb-3">
        <input-debounce #inputSearch [delay]="300" id="inputSearch" type="text" placeholder="Buscar producto ..." required="" aria-invalid="false" (value)="debounceSearch($event)" />
      </div>
    </div>

    <!-- Search and Cancel Buttons -->
    <div class="card mb-3 w-50 d-flex selector">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-success" (click)="buscar()">Buscar <i class="bi bi-search"></i></button>
        <button type="button" class="btn btn-outline-danger" (click)="cancelar()">Cancelar <i class="bi bi-x-lg"></i></button>
      </div>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-body">
    @if(productos() && productos().length > 0) {
    <div class="card">
      <div class="card-body pt-4 d-flex flex-column align-items-center">
        <div id="details" style="overflow-x: auto">
          <table class="table  table-sm small-table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">PRODUCTO</th>
                <th scope="col">MARCA</th>
                <th scope="col">CATEGORIA</th>
                <th scope="col">SUBCATEGORIA</th>
                <th scope="col">ACTIVO</th>
                <th scope="col">EDITAR</th>
                <th scope="col">VARIANTES</th>
              </tr>
            </thead>
            <tbody>
              @for (producto of productos(); track producto.id; let index = $index) {
              <tr>
                <th scope="row">{{ index + 1 }}</th>
                <td>{{ producto.id }}</td>
                <td  class="text-sm">{{ producto.nombre }}</td>
                <td  class="text-sm">{{ producto.marca.descripcion }}</td>
                <td  class="text-sm">{{ producto.categoria.descripcion }}</td>
                <td  class="text-sm">{{ producto.subCategoria.descripcion }}</td>
                <td  class="text-sm">{{ (producto.activo)?'SI':'NO' }}</td>
                <td  class="text-sm">
                  <button class="btn btn-sm btn-outline-info text-info"

                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Ver editar producto" (click)="verProducto(producto.id)" >
                    <i class="bi bi-pencil"></i>
                                    </button>
                </td>
                <td  class="text-sm">
                  <button class="btn btn-sm btn-outline-info text-info"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Ver editar variantes"    (click)="verVariantes(producto.id)" >
                    <i class="bi bi-stack"></i>
                                    </button>
                </td>
              </tr>
              } @empty {
              <tr></tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
    } @else {
    <div class="w-100 empty-message-container">
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Atención</h4>
        <p>No se han encontrado productos...</p>
      </div>
    </div>
    }

    <div class="d-flex justify-content-center">
      <app-paginator
        [totalPages]="totalPages()"
        [currentPage]="page()"
        (pageChanged)="onPageChanged($event)"
      >
      </app-paginator>
    </div>
  </div>
</div>
