<div class="card">
  <div class="card-body">

    <!-- Comprobante Numero Input -->
    <div class="input-group mb-3 w-50 d-flex selector">
      <div class="w-100 mb-3">
        <input-debounce #inputSearch [delay]="300" id="inputSearch" type="text" placeholder="Buscar ..." required="" aria-invalid="false" (value)="debounceSearch($event)" />
      </div>
    </div>
    <!-- Date Inputs -->
    <div class="input-group mb-3 w-50 d-flex selector">

      <div class="input-group d-flex">

        <span class="input-group-text">DESDE/HASTA</span>
        <input type="date" class="form-control" id="fechaDesde" [(ngModel)]="fechaDesde" />
        <input type="date" class="form-control" id="fechaHasta" [(ngModel)]="fechaHasta" />
      </div>
    </div>


    <!-- Search and Cancel Buttons -->
    <div class="card mb-3 w-50 d-flex selector">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-success" (click)="buscar()">Buscar</button>
        <button type="button" class="btn btn-outline-danger" (click)="cancelar()">Cancelar</button>
      </div>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-body">
    @if(auditados() && auditados().length > 0) {

      <div class=" pt-4 d-flex flex-column align-items-center">
        <div id="details" style="overflow-x: auto">
          <table class="table caption-top table-sm small-table">
            <caption>
              Auditados({{
                auditados().length | number
              }})
            </caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">FECHA </th>
                <th scope="col">Hora</th>
                 <th scope="col">USUARIO</th>
                <th scope="col">SUCURSAL</th>
                <th scope="col">METODO</th>
                <th scope="col">PATH</th>
                <th scope="col">STATUS</th>
                <th scope="col">MENSAJE</th>
                <th scope="col">V.ANTERIOR</th>
                <th scope="col">V.NUEVO</th>

              </tr>
            </thead>
            <tbody>
              @for (auditado of auditados(); track auditado.id; let index = $index) {
              <tr>
                <th scope="row">{{ index + 1 }}</th>
                <td>{{ auditado.id }}</td>

                <td  class="text-sm">{{ auditado.fecha | date:'dd/MM/yyyy'}}</td>
                <td  class="text-sm">{{ auditado.fechaModificacion | date:'h:mm a'}}</td>
                <td  class="text-sm">{{ auditado.usuario.username }}</td>
                <td  class="text-sm">{{ auditado.sucursalUsuario.descripcion }}</td>
                <td  class="text-sm">{{ auditado.metodo  }}</td>
                <td  class="text-sm">{{ auditado.path }}</td>
                <td  class="text-sm">{{ auditado.status }}</td>
                <td  class="text-sm">{{ auditado.mensaje  }}  </td>

            <td  class="text-sm">

                  <button *ngIf="auditado.oldValue" class="btn btn-sm btn-outline-info text-info" (click)="mostrarModal('Valor Anterior', auditado)">
                    <i class="bi bi-arrow-left"></i>
                  </button>
            </td>
            <td  class="text-sm">
              <button class="btn btn-sm btn-outline-success text-success" [disabled]="!auditado.newValue" (click)="mostrarModal('Valor Nuevo', auditado)">
                <i class="bi bi-arrow-right"></i>
              </button>
                </td>


              </tr>
              } @empty {
              <tr></tr>
              }
            </tbody>
          </table>
        </div>
      </div>

    } @else {
    <div class="w-100 empty-message-container">
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Atención</h4>
        <p>No se han encontrado auditados...</p>
      </div>
    </div>
    }

    <div class="d-flex justify-content-center">
      <app-paginator
        [totalPages]="totalPages()"
        [currentPage]="page()"
        (pageChanged)="onPageChanged($event)"
      >
      </app-paginator>
    </div>
  </div>
</div>

