<div class="card">

  <div class="card-body">
    <div class="row mb-4">
      <div class="col-12 mb-3">
        <h6 class="text-info">clientes</h6>
      </div>
    </div>


    <div class="d-flex align-items-center gap-2 w-100">
      <!-- Botón de Agregar -->
      <button type="button" class=" btn btn  btn-outline-success" (click)="agregar()"><i class="bi bi-plus"></i></button>
    <!-- Comprobante Numero Input -->
    <div class="input-group   d-flex selector">
      <div class="w-50 ">
        <input-debounce #inputSearch [delay]="300" id="inputSearch" type="text" placeholder="Buscar cliente ..." required="" aria-invalid="false" (value)="debounceSearch($event)" />
      </div>
    </div>
    </div>




    @if(clientes() && clientes().length > 0) {

      <div class=" pt-4 d-flex flex-column align-items-center">
        <div id="details" style="overflow-x: auto">
          <table class="table  table-sm small-table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">RAZON SOCIAL</th>
                <th scope="col">Nº DOC</th>
                <th scope="col">FORMA VENTA</th>
                <th scope="col">LISTA PRECIO</th>
                <th scope="col">EXENTO IVA</th>
                <th scope="col">PROP</th>
                <th scope="col">PRED</th>
                <th scope="col">ACT</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
              @for (cliente of clientes(); track cliente.id; let index = $index) {
              <tr>
                <th scope="row">{{ index + 1 }}</th>
                <td>{{ cliente.id }}</td>
                <td  class="text-sm">{{ cliente.razonSocial }}</td>
                <td  class="text-sm">{{ cliente.nroDocumento }}</td>
                <td  class="text-sm">{{ cliente.condicionPago?.descripcion }}</td>
                <td  class="text-sm">{{ cliente.listaPrecio?.descripcion }}</td>
                <td  class="text-sm">{{ (cliente.excentoIva)?'SI':'NO' }}</td>
                <td  class="text-sm">{{ (cliente.propietario)?'SI':'NO' }}</td>
                <td  class="text-sm">{{ (cliente.predeterminado)?'SI':'NO' }}</td>
                <td  class="text-sm">{{ (cliente.activo)?'SI':'NO' }}</td>
                <td  class="text-sm">
                  <button class="btn btn-sm btn-outline-info text-info"

                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Ver editar cliente"  (click)="verCliente(cliente.id)" >
                    <i class="bi bi-pencil"></i>
                                    </button>
                </td>
              </tr>
              } @empty {
              <tr></tr>
              }
            </tbody>
          </table>
        </div>
      </div>

    } @else {
    <div class="w-100 empty-message-container">
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Atención</h4>
        <p>No se han encontrado clientes...</p>
      </div>
    </div>
    }

    <div class="d-flex justify-content-center">
      <app-paginator
        [totalPages]="totalPages()"
        [currentPage]="page()"
        (pageChanged)="onPageChanged($event)"
      >
      </app-paginator>
    </div>
  </div>
</div>
