 <nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" href="#" (click)="goToFirstPage($event)" aria-label="First">
        <span aria-hidden="true">Primera</span>
      </a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" href="#" (click)="onPageChange(currentPage - 1, $event)" aria-label="Previous">
        <span aria-hidden="true"><i class="bi bi-caret-left-fill"></i>
        </span>
      </a>
    </li>
    <li *ngFor="let page of getPagesToShow()" class="page-item" [class.active]="page === currentPage">
      <a class="page-link" href="#" (click)="onPageChange(page, $event)">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" href="#" (click)="onPageChange(currentPage + 1, $event)" aria-label="Next">
        <span aria-hidden="true"><i class="bi bi-caret-right-fill"></i>
        </span>
      </a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" href="#" (click)="goToLastPage($event)" aria-label="Last">
        <span aria-hidden="true">Última</span>
      </a>
    </li>
  </ul>
</nav>
