<div class="container-fluid mt-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Filtros</h5>
      <form>
        <div class="form-group">
          <label for="fechaDesde">Fecha Desde:</label>
          <input type="date" class="form-control" [(ngModel)]="fechaDesde" id="fechaDesde" name="fechaDesde">
        </div>

        <div class="form-group">
          <label for="fechaHasta">Fecha Hasta:</label>
          <input type="date" class="form-control" [(ngModel)]="fechaHasta" id="fechaHasta" name="fechaHasta">
        </div>

        <div class="form-group">
          <label for="sucursal">Sucursal:</label>
          <select class="form-control" [(ngModel)]="sucursalSeleccionada"name="sucursalSeleccionada" id="sucursal">
            <option *ngFor="let sucursal of sucursales" [value]="sucursal.id">{{ sucursal.nombre }}</option>
          </select>
        </div>

        <button type="button" class="btn btn-primary" (click)="generarReportes()">Generar Reportes</button>
      </form>
    </div>
  </div>
  <div class="row">


    <div class="col-md-8">
      <!-- Tarjetas para mostrar los gráficos (aquí debes integrar tus gráficos) -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Reporte de Ventas por Sucursal</h5>
          <div class="chart-container">
            <ngx-charts-pie-chart [legendTitle]="legendTitle" [scheme]="dashTema" [results]="results" [gradient]="gradient" [legend]="showLegend" [labels]="showLabels" [doughnut]="isDoughnut" (select)="onSelect($event)" style="fill: grey;">
            </ngx-charts-pie-chart>
        </div>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">Top Variantes</h5>
          <!-- Aquí irá tu gráfico de top variantes -->
        </div>
      </div>

      <!-- Agrega más tarjetas para otros reportes según sea necesario -->
    </div>
  </div>
</div>
