<div class="card">
    <div class="card-header">
      @if(id()){
        Actualizar Numeracion
      }@else {
        Crear Numeracion
      }
    </div>


  <div class="card-body">
    <form
      [formGroup]="numeracionForm"
      (ngSubmit)="onSubmit($event)"
    >
      <div class="row mb-3">
        <label for="timbrado" class="col-md-4 col-lg-3 col-form-label"
          >Timbrado</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control"
            id="timbrado"
            formControlName="timbrado"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="serie" class="col-md-4 col-lg-3 col-form-label"
          >Serie</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control"
            id="serie"
            formControlName="serie"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="inicioTimbrado" class="col-md-4 col-lg-3 col-form-label"
          >F.inicio</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="date"
            class="form-control"
            id="inicioTimbrado"
            formControlName="inicioTimbrado"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="finTimbrado" class="col-md-4 col-lg-3 col-form-label"
          >F.fin</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="date"
            class="form-control"
            id="finTimbrado"
            formControlName="finTimbrado"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="numeroInicio" class="col-md-4 col-lg-3 col-form-label"
          >Nº Inicio</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="number"
            class="form-control"
            id="numeroInicio"
            formControlName="numeroInicio"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="numeroFin" class="col-md-4 col-lg-3 col-form-label"
          >Nº Fin</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="number"
            class="form-control"
            id="numeroFin"
            formControlName="numeroFin"
          />
        </div>
      </div>


      <div class="row mb-3">
        <label for="ultimoNumero" class="col-md-4 col-lg-3 col-form-label"
          >Ultimo numero</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="number"
            class="form-control"
            id="ultimoNumero"
            formControlName="ultimoNumero"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="sucursalId" class="col-md-4 col-lg-3 col-form-label"
          >Sucursal</label
        >
        <div class="col-md-8 col-lg-9">
          <select
            class="form-control"
            id="sucursalId"
            formControlName="sucursalId"
          >
            <option *ngFor="let s of sucursales()" [value]="s.id">
              {{ s.descripcion }}
            </option>
          </select>
        </div>
      </div>



      <div class="form-row">
        <div class="col-md-6">
          <div class="row mb-3">
            <label for="fullName" class="col-md-4 col-lg-3 col-form-label"
              >Estados</label
            >
            <div class="col-md-8 col-lg-9">


              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="activo"
                  formControlName="activo"
                  checked
                />
                <label class="form-check-label" for="activo"> activo </label>
              </div>


            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <div class=" btn-group">
          <button  class="btn btn-outline-success" type="submit" class="btn btn-outline-success">@if(id()){ Actualizar <i class="bi bi-file-earmark-plus"></i>} @else { Crear <i class="bi bi-file-earmark-plus"></i>}      </button>
          <button type="button" (click)="ngOnInit()" class="btn btn-outline-danger">Cancelar <i class="bi bi-x-lg"></i></button>
        </div>

      </div>
    </form>
  </div>
</div>
