.card {
  position: relative;
  padding: 8px;
  cursor: pointer;
  transition: .3s all ease-in-out;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  box-shadow: 2px 2px 15px #fd9a6ce5;
  transform: scale(1.02);
}

.card-img {
  position: relative;
}

.card-img img {
  padding-top: 10px;
  width: inherit;
  height: 150px;
  object-fit: contain;
  display: block;
}

.discount-badge {
  position: absolute;
  top: 5px;
  left: 0px;
  background-color: #fd9a6ce5;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.description-badge {
  position: absolute;
  bottom: 0;
  background-color: #fd9a6ce5;
  color: #fff;
  font-size: 10px;
  margin: 3px;
  height: 80px;
  border-radius: 5px;
  width: 100%; /* Agregado para ocupar todo el ancho */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
}

.precio-badge {
  background-color: #fff;
  color: #fd9a6ce5;
  padding: 2px;
  border-radius: 10px;
  margin-top: auto; /* Empuja el elemento hacia la parte inferior */
}

.card .price {
  background-color: #fff;
  color: #fd9a6ce5;
  text-align: center; /* Centra el texto horizontalmente */
  margin-top: auto; /* Empuja el elemento hacia la parte inferior */
}
