<div class="card d-flex flex-column align-items-center" (click)="onCardClick()">
  <div class="card-img">
    <img
      *ngIf="producto.img"
      [attr.src]="producto.img | imagen: 'productos' | async"
    />
    <img *ngIf="!producto.img" src="../../../assets/img/sin-imagen.jpg" />
    <div class="discount-badge">{{ descuento }}%</div>
    <div class="code-badge">{{ producto.codErp }}</div>
     <!--     <div class="precio-badge">{{ precio | number }} GS</div> -->
  </div>
  <div class="description-badge  text-center p-2">
    <div class="product-name">
      {{ formattedDescription }}
     </div>
     <div class="price">
      <div class="product-name  ">
        {{ producto.precio | number }} GS
      </div>
      </div>
  </div>
 <!--  <div class="card-body pt-1">
    <div class="d-flex align-items-center price">
      <span class="text-dark">{{ precio }} GS</span>
    </div>
  </div> -->
  <!--  <div class="product-name">

  </div> -->
</div>
