<div class="card d-flex flex-column align-items-center" (click)="onCardClick()">
  <div class="product-name">{{ producto.producto }} {{ producto.presentacion }} {{ producto.variedad }}</div>
  <div class="card-img">

    <img *ngIf="producto.img" [attr.src]="producto.img | imagen:'productos' | async" />
    <img *ngIf="!producto.img" src="../../../assets/img/sin-imagen.jpg"  >
     <div class="discount-badge">{{ descuento }}%</div>
    <div class="precio-badge">{{  precio | number  }} GS</div>
  </div>
  <div class="card-body pt-1">
    <div class="d-flex align-items-center price">
      <!-- <span class="text-dark">{{ precio }} GS</span> -->
    </div>
  </div>
</div>
