<div class="card">
  <div class="card-header">Valoraciones</div>

  <div class="card-body">
    <div class="input-group mb-3 w-50 d-flex selector">
      <div class="input-group d-flex">
        <span class="input-group-text">Tipo Registro</span>
        <select
          disabled="true"
          class="form-control form-control-sm"
          [(ngModel)]="registro"
          name="registro"
          id="registro"
        >
          <option value="PRECIO">Precio</option>
          <option value="DESCUENTO">Descuento</option>
          <option value="PUNTO">Punto</option>
        </select>
      </div>
    </div>

    <div class="input-group mb-3 w-50 d-flex selector">
      <div class="input-group d-flex">
        <span class="input-group-text">Tipo </span>
        <select
          disabled="true"
          class="form-control form-control-sm"
          [(ngModel)]="tipo"
          name="tipo"
          id="tipo"
        >
          <option value="IMPORTE">Importe</option>
          <option value="PRODUCTO">Producto</option>
          <option value="PORCENTAJE">Porcentaje</option>
          <option value="IMPORTE">Escala</option>
        </select>
      </div>
    </div>

    <div class="input-group mb-3 w-50 d-flex selector">
      <div class="input-group d-flex">
        <span class="input-group-text">Sucursal/es </span>
        <select
          class="form-control form-control-sm"
          [(ngModel)]="sucursalId"
          name="sucursalSeleccionada"
          id="sucursal"
        >
          <option value="0">Todas</option>
          <option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
            {{ sucursal.descripcion }}
          </option>
        </select>
      </div>
    </div>

    <div class="input-group mb-3 w-50 d-flex selector">
      <div class="input-group d-flex">
        <span class="input-group-text">Lista Precio </span>
        <select
          class="form-control form-control-sm"
          [(ngModel)]="listaPrecioId"
          name="listaPrecioId"
          id="listaPrecioId"
        >
          <option value="">Todas</option>
          >
          <option *ngFor="let lista of listasPrecio" [value]="lista.id">
            {{ lista.descripcion }}
          </option>
        </select>
      </div>
    </div>
    <div class="input-group mb-3 w-50 d-flex selector">
      <div class="input-group d-flex">
        <span class="input-group-text">Valido el</span>
        <input
          type="date"
          class="form-control"
          id="fechaDesde"
          [(ngModel)]="fechaDesde"
        />
      </div>
    </div>

    <!-- Search and Cancel Buttons -->
    <div class="card mb-3 w-50 d-flex selector">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="buscar()"
        >
          Buscar <i class="bi bi-search"></i>
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="cancelar()"
        >
          Cancelar <i class="bi bi-x-lg"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <article
      class="table-header mb-1 d-flex justify-content-between align-items-center"
    >
      <div class="btn-group">
        <button class="btn btn-outline-danger" (click)="removeSelectedRows()"  *ngIf="hayRegistrosSeleccionados()">
          Eliminar Selección <i class="bi bi-trash"></i>
        </button>
        <button class="btn btn-outline-info" (click)="addRow()">
          Agregar Fila <i class="bi bi-file-earmark-plus"></i>
        </button>
        <button class="btn btn-outline-info" (click)="openModal('CLONAR')" *ngIf="hayRegistrosSeleccionados()">
          Clonar Filas <i class="bi bi-copy"></i
          ><i class="bi bi-list-check"></i>
        </button>

        <button class="btn btn-outline-info" (click)="openModal('MODIFICAR')" *ngIf="hayRegistrosSeleccionados()">
          Modificar<i class="bi bi-copy"></i><i class="bi bi-pencil"></i>
        </button>
      </div>
      <!--   <div class="mb-1 d-flex justify-content-between align-items-center">
        <label for="filterText" class="form-label mp-2">Filtrar:</label>
        <input type="text" class="form-control" id="filterText" [(ngModel)]="filterText" (input)="applyFilter()">
      </div> -->
    </article>

    <div class="mt-1" id="items">
      <table
        class="table table-bordered"
        *ngIf="valoraciones && valoraciones.length"
      >
        <thead>
          <tr>
            <th>
              <input
                type="checkbox"
                [(ngModel)]="selectAllCheckbox"
                (change)="selectAll($event)"
              />
            </th>
            <th (click)="sort('id')">Id</th>
            <th (click)="sort('activo')">Activo</th>
            <th
              *ngIf="tipo == 'IMPORTE' && registro != 'PRECIO'"
              (click)="sort('cantDesde')"
            >
              Can Desde
            </th>
            <th
              *ngIf="tipo == 'IMPORTE' && registro != 'PRECIO'"
              (click)="sort('cantHasta')"
            >
              Can Hasta
            </th>
            <th (click)="sort('fechaDesde')">F. Desde</th>
            <th (click)="sort('fechaHasta')">F. Hasta</th>
            <th (click)="sort('valor')">Valor {{ valor }}</th>
            <th (click)="sort('listaPrecioId')">Lista P.</th>
            <th (click)="sort('sucursalId')">Sucursal</th>
            <th
              *ngIf="
                tipo == 'PRODUCTO' ||
                (tipo == 'IMPORTE' && registro == 'PRECIO')
              "
              (click)="sort('varianteId')"
            >
              Variante
            </th>
            <th (click)="sort('clienteId')" *ngIf="tipo == 'CLIENTE'">
              Cliente
            </th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let valoracion of valoraciones; let i = index"
            [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
          >
            <td [ngClass]="{ rowEditModeColor: valoracion.isEdit }">
              <input type="checkbox" [(ngModel)]="valoracion.isSelected" />
            </td>

            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="valoracion.id"
            >
              {{ valoracion.id }}
            </td>
            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="!valoracion.id"
            >
              #
            </td>

            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="!valoracion.isEdit"
            >
              {{ valoracion.activo ? 'SI' : 'NO' }}
            </td>
            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="valoracion.isEdit"
            >
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [(ngModel)]="valoracion.activo"
                />
              </div>
            </td>

            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="
                !valoracion.isEdit && tipo == 'IMPORTE' && registro != 'PRECIO'
              "
            >
              {{ valoracion.cantDesde | number }}
            </td>
            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="
                valoracion.isEdit && tipo == 'IMPORTE' && registro != 'PRECIO'
              "
            >
              <input
                [(ngModel)]="valoracion.cantDesde"
                class="form-control"
                type="number"
              />
            </td>

            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="
                !valoracion.isEdit && tipo == 'IMPORTE' && registro != 'PRECIO'
              "
            >
              {{ valoracion.cantHasta | number }}
            </td>
            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="
                valoracion.isEdit && tipo == 'IMPORTE' && registro != 'PRECIO'
              "
            >
              <input
                [(ngModel)]="valoracion.cantHasta"
                class="form-control"
                type="number"
              />
            </td>

            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="!valoracion.isEdit"
            >
              {{ valoracion.fechaDesde | date: 'dd/MM/yyyy' }}
            </td>
            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="valoracion.isEdit"
            >
              <input
                type="date"
                [(ngModel)]="valoracion.fechaDesde"
                class="form-control"
              />
            </td>

            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="!valoracion.isEdit"
            >
              {{ valoracion.fechaHasta | date: 'dd/MM/yyyy' }}
            </td>
            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="valoracion.isEdit"
            >
              <input
                type="date"
                [(ngModel)]="valoracion.fechaHasta"
                class="form-control"
              />
            </td>

            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="!valoracion.isEdit"
            >
              {{ valoracion.valor | number }}
            </td>
            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="valoracion.isEdit"
            >
              <input
                [(ngModel)]="valoracion.valor"
                class="form-control"
                type="number"
              />
            </td>

            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="!valoracion.isEdit"
            >
              {{ valoracion?.listaPrecio?.descripcion }}
            </td>
            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="valoracion.isEdit"
            >
              <select
                class="form-control"
                [(ngModel)]="valoracion.listaPrecioId"
                name="listaPrecioId"
                id="listaPrecioId"
              >
                <option *ngFor="let lista of listasPrecio" [value]="lista.id">
                  {{ lista.descripcion }}
                </option>
              </select>
            </td>

            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="!valoracion.isEdit"
            >
              {{
                valoracion?.sucursal
                  ? valoracion.sucursal.descripcion
                  : obtenerSucursal(valoracion?.sucursalId)
              }}
            </td>
            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="valoracion.isEdit"
            >
              <select
                class="form-control"
                [(ngModel)]="valoracion.sucursalId"
                name="sucursalSeleccionada"
                id="sucursal"
              >
                <option value="0">Todas</option>
                <option
                  *ngFor="let sucursal of sucursales"
                  [value]="sucursal.id"
                >
                  {{ sucursal.descripcion }}
                </option>
              </select>
            </td>

            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="
                !valoracion.isEdit &&
                (tipo == 'PRODUCTO' ||
                  (tipo == 'IMPORTE' && registro == 'PRECIO'))
              "
            >
              <small
                *ngIf="
                  valoracion?.variante?.codErp &&
                  valoracion?.variante?.producto?.nombre
                "
              >
                {{ valoracion?.variante?.codErp }}
                {{ valoracion?.variante?.producto?.nombre }}
                {{ valoracion?.variante?.variedad?.descripcion }}
                {{ valoracion?.variante?.presentacion?.descripcion }}
              </small>
              <small *ngIf="valoracion?.variante?.concat"
                >{{ valoracion?.variante?.concat }}
              </small>
            </td>
            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="
                valoracion.isEdit &&
                (tipo == 'PRODUCTO' ||
                  (tipo == 'IMPORTE' && registro == 'PRECIO'))
              "
            >
              <app-custom-select
                [size]="'sm'"
                [options]="variantes"
                [textField]="'concat'"
                [valueField]="'id'"
                [selectedValue]="valoracion.varianteId"
                (selectedOption)="seleccionaVariante(valoracion, $event)"
              ></app-custom-select>
            </td>
            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="!valoracion.isEdit && tipo == 'CLIENTE'"
            >
              {{ valoracion?.cliente?.nroDocumento }}
              {{ valoracion?.cliente?.razonSocial }}
            </td>
            <td
              [ngClass]="{ rowEditModeColor: valoracion.isEdit }"
              *ngIf="valoracion.isEdit && tipo == 'CLIENTE'"
            ></td>

            <td [ngClass]="{ rowEditModeColor: valoracion.isEdit }">
              <div class="btn-group">
                <button
                  *ngIf="valoracion.isEdit"
                  class="btn btn-outline-success"
                  (click)="guardar(valoracion)"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Guardar"
                >
                  <i class="bi bi-floppy2-fill"></i>
                </button>
                <button
                  *ngIf="!valoracion.isEdit"
                  class="btn btn-outline-info"
                  (click)="valoracion.isEdit = !valoracion.isEdit"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Editar"
                >
                  <i class="bi bi-pencil"></i>
                </button>
                <button
                  class="btn btn-outline-danger"
                  (click)="removeRow(i)"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Eliminar"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-ng-modal
  [isOpen]="modalUpdateOpen"
  [titulo]="'Modificacion de Marcados'"
  (closeModal)="modalUpdateOpen = false"
>
  <form (submit)="submitForm()">
    <!-- Campo Fecha Desde -->
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="checkFechaDesde"
        [checked]="camposActivos['fechaDesde']"
        (change)="toggleCampoActivo('fechaDesde')"
      />
      <label class="form-check-label" for="checkFechaDesde">Fecha Desde</label>
      <input
        *ngIf="camposActivos['fechaDesde']"
        type="date"
        class="form-control"
        name="fechaDesdeM"
        [(ngModel)]="fechaDesdeM"
      />
    </div>

    <!-- Campo Fecha Hasta -->
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="checkFechaHasta"
        [checked]="camposActivos['fechaHasta']"
        (change)="toggleCampoActivo('fechaHasta')"
      />
      <label class="form-check-label" for="checkFechaHasta">Fecha Hasta</label>
      <input
        *ngIf="camposActivos['fechaHasta']"
        type="date"
        class="form-control"
        name="fechaHastaM"
        [(ngModel)]="fechaHastaM"
      />
    </div>

    <!-- Campo cantDesde -->
    <div class="form-check"   *ngIf="tipo == 'IMPORTE' && registro != 'PRECIO'">
      <input
        class="form-check-input"
        type="checkbox"
        id="checkCantDesde"
        [checked]="camposActivos['cantDesde']"
        (change)="toggleCampoActivo('cantDesde')"
      />
      <label class="form-check-label" for="checkCantDesde">Cant Desde</label>
      <input
        *ngIf="camposActivos['cantDesde']"
        type="number"
        class="form-control"
        name="cantDesdeM"
        [(ngModel)]="cantDesdeM"
      />
    </div>

    <!-- Campo CantHasta -->
    <div class="form-check"  *ngIf="tipo == 'IMPORTE' && registro != 'PRECIO'">
      <input
        class="form-check-input"
        type="checkbox"
        id="checkCantHasta"
        [checked]="camposActivos['cantHasta']"
        (change)="toggleCampoActivo('cantHasta')"
      />
      <label class="form-check-label" for="checkCantHasta">CantHasta</label>
      <input
        *ngIf="camposActivos['cantHasta']"
        type="number"
        class="form-control"
        name="cantHastaM"
        [(ngModel)]="cantHastaM"
      />
    </div>

    <!-- Campo Valor -->
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="checkValor"
        [checked]="camposActivos['valor']"
        (change)="toggleCampoActivo('valor')"
      />
      <label class="form-check-label" for="checkValor">Valor</label>
      <input
        *ngIf="camposActivos['valor']"
        type="number"
        class="form-control"
        name="valorM"
        [(ngModel)]="valorM"
      />
    </div>



    <!-- Campo Sucursal -->
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="checkSucursal"
        [checked]="camposActivos['sucursal']"
        (change)="toggleCampoActivo('sucursal')"
      />
      <label class="form-check-label" for="checkSucursal">Sucursal</label>
      <select
        *ngIf="camposActivos['sucursal']"
        class="form-control"
        [(ngModel)]="sucursalIdM"
        name="sucursalIdM"
      >
        <option value="0">Todas</option>
        <option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
          {{ sucursal.descripcion }}
        </option>
      </select>
    </div>

    <!-- Campo Lista de Precio -->
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="checkListaPrecio"
        [checked]="camposActivos['listaPrecio']"
        (change)="toggleCampoActivo('listaPrecio')"
      />
      <label class="form-check-label" for="checkListaPrecio"
        >Lista Precio</label
      >
      <select
        *ngIf="camposActivos['listaPrecio']"
        class="form-control"
        [(ngModel)]="listaPrecioIdM"
        name="listaPrecioIdM"
      >
        <option *ngFor="let lista of listasPrecio" [value]="lista.id">
          {{ lista.descripcion }}
        </option>
      </select>
    </div>

       <!-- Campo Activo -->
       <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="checkActivo"
          [checked]="camposActivos['activo']"
        (change)="toggleCampoActivo('activo')"
        />
        <label class="form-check-label" for="checkListaPrecio"
          >Activo</label
        >
        <div class="form-check form-switch">
          <input  *ngIf="camposActivos['activo']" class="form-check-input" type="checkbox" name="activoM"
          [(ngModel)]="activoM"checked />
        </div>
      </div>



    <!-- Botón de Enviar -->
    <button type="submit" class="btn btn-primary">Ejecutar valores</button>
  </form>
</app-ng-modal>
