<div class="card">
  <div class="card-header">Valoraciones</div>

  <div class="card-body">
    <div class="input-group mb-3 w-50 d-flex selector">
      <div class="input-group d-flex">
        <span class="input-group-text">Tipo Registro</span>
        <select
          disabled="true"
          class="form-control form-control-sm"
          [(ngModel)]="registro"
          name="registro"
          id="registro"
        >
          <option value="PRECIO">Precio</option>
          <option value="DESCUENTO">Descuento</option>
          <option value="PUNTO">Punto</option>
        </select>
      </div>
    </div>

    <div class="input-group mb-3 w-50 d-flex selector">
      <div class="input-group d-flex">
        <span class="input-group-text">Tipo </span>
        <select
          disabled="true"
          class="form-control form-control-sm"
          [(ngModel)]="tipo"
          name="tipo"
          id="tipo"
        >
          <option value="IMPORTE">Importe</option>
          <option value="PORCENTAJE">Porcentaje</option>
          <option value="ESCALA">Escala</option>
        </select>
      </div>
    </div>

    <div class="input-group mb-3 w-50 d-flex selector">
      <div class="input-group d-flex">
        <span class="input-group-text">Sucursal/es </span>
        <select
          class="form-control form-control-sm"
          [(ngModel)]="sucursalId"
          name="sucursalSeleccionada"
          id="sucursal"
        >
          <option value="0">Todas</option>
          <option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
            {{ sucursal.descripcion }}
          </option>
        </select>
      </div>
    </div>

    <div class="input-group mb-3 w-50 d-flex selector">
      <div class="input-group d-flex">
        <span class="input-group-text">Lista Precio </span>
        <select
          class="form-control form-control-sm"
          [(ngModel)]="listaPrecioId"
          name="listaPrecioId"
          id="listaPrecioId"
        >
          <option value="">Todas</option>
          >
          <option *ngFor="let lista of listasPrecio" [value]="lista.id">
            {{ lista.descripcion }}
          </option>
        </select>
      </div>
    </div>
    <div class="input-group mb-3 w-50 d-flex selector">
      <div class="input-group d-flex">
        <span class="input-group-text">Valido el</span>
        <input
          type="date"
          class="form-control"
          id="fechaDesde"
          [(ngModel)]="fechaDesde"
        />
      </div>
    </div>

    <!-- Search and Cancel Buttons -->
    <div class="card mb-3 w-50 d-flex selector">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="buscar()"
        >
          Buscar <i class="bi bi-search"></i>
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="cancelar()"
        >
          Cancelar <i class="bi bi-x-lg"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <article class="table-header mb-3">
      <div class="btn-group">
        <button class="btn btn-outline-danger" (click)="removeSelectedRows()">
          Eliminar Selección <i class="bi bi-trash"></i>
        </button>
        <button class="btn btn-outline-success" (click)="addRow()">
          Agregar Fila <i class="bi bi-file-earmark-plus"></i>
        </button>
        <button class="btn btn-outline-info" (click)="cloneSelectedRows()">
          Clonar Filas <i class="bi bi-copy"></i><i class="bi bi-list-check"></i>
        </button>
      </div>
    </article>

    <table class="table table-bordered" *ngIf="valoraciones && valoraciones.length">
      <thead>
        <tr>
          <th>
            <input
              type="checkbox"
              [(ngModel)]="selectAllCheckbox"
              (change)="selectAll($event)"
            />
          </th>
          <th>Id</th>
          <th  class="verde">Activo</th>
          <th *ngIf="tipo == 'ESCALA'">Can Desde</th>
          <th *ngIf="tipo == 'ESCALA'">Can Hasta</th>
          <th>F. Desde</th>
          <th>F. Hasta</th>
          <th>Valor</th>
          <th>Lista P.</th>
          <th>Sucursal</th>
          <th>Variante</th>
          <th *ngIf="tipo == 'CLIENTE'">Cliente</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody   >
        <tr *ngFor="let valoracion of valoraciones; let i = index"   class="verde">

          <td><input type="checkbox" [(ngModel)]="valoracion.isSelected" /></td>

          <td *ngIf="valoracion.id">{{ valoracion.id }}</td>
          <td *ngIf="!valoracion.id">#</td>

          <td *ngIf="!valoracion.isEdit">
            {{ valoracion.activo ? 'SI' : 'NO' }}
          </td>
          <td *ngIf="valoracion.isEdit">
            <input
              class="form-check-input"
              type="checkbox"
              [(ngModel)]="valoracion.activo"
            />
          </td>

          <td *ngIf="!valoracion.isEdit && tipo == 'ESCALA'">
            {{ valoracion.cantDesde | number }}
          </td>
          <td *ngIf="valoracion.isEdit && tipo == 'ESCALA'">
            <input
              [(ngModel)]="valoracion.cantDesde"
              class="form-control"
              type="number"
            />
          </td>

          <td *ngIf="!valoracion.isEdit && tipo == 'ESCALA'">
            {{ valoracion.cantHasta | number }}
          </td>
          <td *ngIf="valoracion.isEdit && tipo == 'ESCALA'">
            <input
              [(ngModel)]="valoracion.cantHasta"
              class="form-control"
              type="number"
            />
          </td>

          <td *ngIf="!valoracion.isEdit">
            {{ valoracion.fechaDesde | date: 'dd/MM/yyyy' }}
          </td>
          <td *ngIf="valoracion.isEdit">
            <input
              type="date"
              [(ngModel)]="valoracion.fechaDesde"
              class="form-control"
            />
          </td>

          <td *ngIf="!valoracion.isEdit">
            {{ valoracion.fechaHasta | date: 'dd/MM/yyyy' }}
          </td>
          <td *ngIf="valoracion.isEdit">
            <input
              type="date"
              [(ngModel)]="valoracion.fechaHasta"
              class="form-control"
            />
          </td>

          <td *ngIf="!valoracion.isEdit">{{ valoracion.valor | number }}</td>
          <td *ngIf="valoracion.isEdit">
            <input
              [(ngModel)]="valoracion.valor"
              class="form-control"
              type="number"
            />
          </td>

          <td *ngIf="!valoracion.isEdit">
            {{ valoracion?.listaPrecio?.descripcion }}
          </td>
          <td *ngIf="valoracion.isEdit">
            <select
              class="form-control"
              [(ngModel)]="valoracion.listaPrecioId"
              name="listaPrecioId"
              id="listaPrecioId"
            >
              <option *ngFor="let lista of listasPrecio" [value]="lista.id">
                {{ lista.descripcion }}
              </option>
            </select>
          </td>

          <td *ngIf="!valoracion.isEdit">
            {{
              valoracion?.sucursal
                ? valoracion.sucursal.descripcion
                : obtenerSucursal(valoracion?.sucursalId)
            }}
          </td>
          <td *ngIf="valoracion.isEdit">
            <select
              class="form-control"
              [(ngModel)]="valoracion.sucursalId"
              name="sucursalSeleccionada"
              id="sucursal"
            >
              <option value="0">Todas</option>
              <option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
                {{ sucursal.descripcion }}
              </option>
            </select>
          </td>

          <td *ngIf="!valoracion.isEdit">
            <small>
              {{ valoracion?.variante?.codErp }}
              {{ valoracion?.variante?.producto.nombre }}
              {{ valoracion?.variante?.variedad.descripcion }}
              {{ valoracion?.variante?.presentacion.descripcion }}
            </small>
          </td>
          <td *ngIf="valoracion.isEdit">
            <app-custom-select
              [size]="'sm'"
              [options]="variantes"
              [textField]="'concat'"
              [valueField]="'id'"
              [selectedValue]="valoracion.varianteId"
              (selectedOption)="seleccionaVariante(valoracion, $event)"
            ></app-custom-select>
          </td>
          <td *ngIf="!valoracion.isEdit && tipo == 'CLIENTE'">
            {{
              valoracion?.cliente?.nroDocumento -
                valoracion?.cliente?.razonSocial
            }}
          </td>
          <td *ngIf="valoracion.isEdit && tipo == 'CLIENTE'"></td>

          <td>
            <div class="btn-group">
              <button
                *ngIf="valoracion.isEdit"
                class="btn btn-outline-success"
                (click)="listo(valoracion)"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Guardar"  >
                 <i class="bi bi-floppy2-fill"></i>
              </button>
              <button
                *ngIf="!valoracion.isEdit"
                class="btn btn-outline-info"
                (click)="valoracion.isEdit = !valoracion.isEdit"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"  >
              <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-outline-danger" (click)="removeRow(i)"
              data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar" >
                  <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
