<div class="card">
  <div class="card-header">
    @if(id()){ Actualizar Usuario }@else { Crear Usuario }
  </div>

  <div class="card-body">
    <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit($event)">
      <div class="row mb-3">
        <img *ngIf="!imgTemps[0] && !usuarioForm.get('img')?.value" [src]="sinImagen" class="img-avatar" />
        <img *ngIf="imgTemps[0]" [src]="imgTemps[0]" class="img-avatar" />
        <img
          *ngIf="usuarioForm.get('img')!.value && !imgTemps[0]"
          [attr.src]="
            usuarioForm.get('img')?.value | imagen: 'usuarios' | async
          "
          class="img-avatar"
        />

        <input
          class="form-control form-control-sm validation"
          type="file"
          id="fileInput"
          (change)="actualizarImagen($event, usuarioForm.get('id')?.value)"
        />
      </div>

      <div class="row mb-3">
        <label for="usuario" class="col-md-4 col-lg-3 col-form-label"
          >Usuario <span style="color:red">(*)</span></label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control form-control-sm"
            id="usuario"
            formControlName="usuario"
            [ngClass]="{ 'is-invalid': usuarioForm.get('usuario')?.invalid && usuarioForm.get('usuario')?.touched }"
          />
          <div *ngIf="usuarioForm.get('usuario')?.touched && usuarioForm.get('usuario')?.invalid" class="invalid-feedback">
            <div *ngIf="usuarioForm.get('usuario')?.errors?.['required']">Usuario es un campo obligatorio.</div>
            <div *ngIf="usuarioForm.get('usuario')?.errors?.['minlength']">Usuario debe tener al menos 3 caracteres.</div>
          </div>
        </div>
      </div>


      <div class="row mb-3">
        <label for="email" class="col-md-4 col-lg-3 col-form-label">Username <span style="color:red">(*)</span></label>
        <div class="col-md-8 col-lg-9">
          <input
            type="email"
            class="form-control"
            id="username"
            formControlName="username"
            [ngClass]="{ 'is-invalid': usuarioForm.get('username')?.invalid && usuarioForm.get('username')?.touched }"
          />
          <div *ngIf="usuarioForm.get('username')?.invalid && usuarioForm.get('username')?.touched" class="invalid-feedback">
            <div *ngIf="usuarioForm.get('username')?.errors?.['required']">El username es un campo obligatorio.</div>
            <div *ngIf="usuarioForm.get('username')?.errors?.['username']">El formato del username es inválido.</div>
          </div>
        </div>
      </div>



      <div class="row mb-3">
        <label for="password1" class="col-md-4 col-lg-3 col-form-label">Contraseña: <span *ngIf="!id()" style="color:red">(*)</span></label>
        <div class="col-md-8 col-lg-9">
        <input type="text" id="password1" formControlName="password1" class="form-control"
        [ngClass]="{ 'is-invalid': usuarioForm.get('password1')?.invalid && usuarioForm.get('password1')?.touched }"
        />
        <div *ngIf="usuarioForm.get('password1')?.touched && usuarioForm.get('password1')?.invalid" class="invalid-feedback">
          <div *ngIf="usuarioForm.get('password1')?.errors?.['required']">
            La contraseña es obligatoria.
          </div>
        </div>
      </div>
      </div>
      <div class="row mb-3">
        <label for="password2" class="col-md-4 col-lg-3 col-form-label">Repetir Contraseña: <span *ngIf="!id()" style="color:red">(*)</span></label>
        <div class="col-md-8 col-lg-9">
        <input type="text" id="password2" formControlName="password2" class="form-control"
         [ngClass]="{ 'is-invalid': usuarioForm.get('password2')?.invalid && usuarioForm.get('password2')?.touched }"
        />
        <div *ngIf="usuarioForm.get('password2')?.touched && usuarioForm.get('password2')?.invalid"class="invalid-feedback">
          <div *ngIf="usuarioForm.get('password2')?.errors?.['required']">
            La contraseña es obligatoria.
          </div>
        </div>
      </div>
      </div>



      <div class="row mb-3">
        <label for="sucursalId" class="col-md-4 col-lg-3 col-form-label">Sucursal</label>
        <div class="col-md-8 col-lg-9">
          <select
            class="custom-select custom-select-sm"
            formControlName="sucursalId"
            (ngModelChange)="sucursalChange($event)"
            [ngClass]="{ 'is-invalid': usuarioForm.get('sucursalId')?.invalid && usuarioForm.get('sucursalId')?.touched }"
            >
            <option *ngFor="let sucursal of sucursales()" [value]="sucursal.id">
              {{ sucursal.descripcion }}
            </option>
          </select>
          <div *ngIf="usuarioForm.get('sucursalId')?.touched && usuarioForm.get('sucursalId')?.invalid"class="invalid-feedback">
            <div *ngIf="usuarioForm.get('sucursalId')?.errors?.['required']">
              La sucursal es obligatoria.
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="numPrefId" class="col-md-4 col-lg-3 col-form-label">Numeracion</label>
        <div class="col-md-8 col-lg-9">
          <select
            class="custom-select custom-select-sm"
            formControlName="numPrefId"
            [ngClass]="{ 'is-invalid': usuarioForm.get('numPrefId')?.invalid && usuarioForm.get('numPrefId')?.touched }"
            >
            <option *ngFor="let numeracion of numeraciones()" [value]="numeracion.id">
              {{ numeracion.timbrado }} {{ numeracion.serie }}-00000000
            </option>
          </select>
          <div *ngIf="usuarioForm.get('numPrefId')?.touched && usuarioForm.get('numPrefId')?.invalid"class="invalid-feedback">
            <div *ngIf="usuarioForm.get('numPrefId')?.errors?.['required']">
              El número de preferencia es obligatorio.
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="rol" class="col-md-4 col-lg-3 col-form-label">Rol</label>
        <div class="col-md-8 col-lg-9">
          <select class="custom-select custom-select-sm" formControlName="rol"  [ngClass]="{ 'is-invalid': usuarioForm.get('rol')?.invalid && usuarioForm.get('rol')?.touched }">
            <option value="vendedor" selected>vendedor</option>
            <option value="admin">Admin</option>
          </select>
          <div *ngIf="usuarioForm.get('rol')?.touched && usuarioForm.get('rol')?.invalid"class="invalid-feedback">
            <div *ngIf="usuarioForm.get('rol')?.errors?.['required']">
              El número de preferencia es obligatorio.
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6">
          <div class="row mb-3">
            <label for="fullName" class="col-md-4 col-lg-3 col-form-label"
              >Estados</label
            >
            <div class="col-md-8 col-lg-9">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="bloqueado"
                  formControlName="bloqueado"
                  checked=""
                />
                <label class="form-check-label" for="bloqueado">
                  bloqueado
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="activo"
                  formControlName="activo"
                  checked
                />
                <label class="form-check-label" for="activo"> activo </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <div class="btn-group">
          <button
            class="btn btn-outline-success"
            type="submit"
            class="btn btn-outline-success"
          >
            @if(id()){ Actualizar <i class="bi bi-file-earmark-plus"></i>} @else
            { Crear <i class="bi bi-file-earmark-plus"></i>}
          </button>
          <button
            type="button"
            (click)="ngOnInit()"
            class="btn btn-outline-danger"
          >
            Cancelar <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
