<div class="card">
  <div class="card-header">
    @if(id()){ Actualizar Usuario }@else { Crear Usuario }
  </div>

  <div class="card-body">
    <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit($event)">
      <div class="row mb-3">
        <img *ngIf="!imgTemps[0] && !usuarioForm.get('img')?.value" [src]="sinImagen" class="img-avatar" />
        <img *ngIf="imgTemps[0]" [src]="imgTemps[0]" class="img-avatar" />
        <img
          *ngIf="usuarioForm.get('img')!.value && !imgTemps[0]"
          [attr.src]="
            usuarioForm.get('img')?.value | imagen: 'usuarios' | async
          "
          class="img-avatar"
        />

        <input
          class="form-control form-control-sm validation"
          type="file"
          id="fileInput"
          (change)="actualizarImagen($event, usuarioForm.get('id')?.value)"
        />
      </div>

      <div class="row mb-3">
        <label for="usuario" class="col-md-4 col-lg-3 col-form-label"
          >Usuario</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control form-control-sm"
            id="usuario"
            formControlName="usuario"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="username" class="col-md-4 col-lg-3 col-form-label"
          >Username</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="username"
            class="form-control form-control-sm"
            id="username"
            formControlName="username"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="password1" class="col-md-4 col-lg-3 col-form-label"
          >Password</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control form-control-sm"
            id="password1"
            formControlName="password1"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="password2" class="col-md-4 col-lg-3 col-form-label"
          >Password</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control form-control-sm"
            id="password2"
            formControlName="password2"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="sucursalId" class="col-md-4 col-lg-3 col-form-label"
          >Sucursal</label
        >
        <div class="col-md-8 col-lg-9">
          <select
            class="custom-select custom-select-sm"
            formControlName="sucursalId"
            (ngModelChange)="sucursalChange($event)"
          >
            <option *ngFor="let sucursal of sucursales()" [value]="sucursal.id">
              {{ sucursal.descripcion }}
            </option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label for="numPrefId" class="col-md-4 col-lg-3 col-form-label"
          >Numeracion</label
        >
        <div class="col-md-8 col-lg-9">
          <select
            class="custom-select custom-select-sm"
            formControlName="numPrefId"
          >
            <option
              *ngFor="let numeracion of numeraciones()"
              [value]="numeracion.id"
            >
              {{ numeracion.timbrado }} {{ numeracion.serie }}-00000000
            </option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label for="rol" class="col-md-4 col-lg-3 col-form-label">Rol</label>
        <div class="col-md-8 col-lg-9">
          <select class="custom-select custom-select-sm" formControlName="rol">
            <option value="vendedor" selected>vendedor</option>
            <option value="admin">Admin</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6">
          <div class="row mb-3">
            <label for="fullName" class="col-md-4 col-lg-3 col-form-label"
              >Estados</label
            >
            <div class="col-md-8 col-lg-9">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="bloqueado"
                  formControlName="bloqueado"
                  checked=""
                />
                <label class="form-check-label" for="bloqueado">
                  bloqueado
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="activo"
                  formControlName="activo"
                  checked
                />
                <label class="form-check-label" for="activo"> activo </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <div class="btn-group">
          <button
            class="btn btn-outline-success"
            type="submit"
            class="btn btn-outline-success"
          >
            @if(id()){ Actualizar <i class="bi bi-file-earmark-plus"></i>} @else
            { Crear <i class="bi bi-file-earmark-plus"></i>}
          </button>
          <button
            type="button"
            (click)="ngOnInit()"
            class="btn btn-outline-danger"
          >
            Cancelar <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
