.modal-background {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%; /* Establecer un ancho flexible */
  max-height: 95%; /* La altura máxima será el 90% de la ventana */
  overflow: hidden; /* Evitar que el contenido se desborde */
}

.modal-content {
  max-height: 80vh; /* 80% de la altura visible de la ventana */
  overflow-y: auto; /* Habilitar el scroll vertical */
}

.pointer {
  cursor: pointer;
}

.small {
  width: 300px;
}

.medium {
  width: 500px;
}

.large {
  width: 800px;
}

.list-group-item:hover {
  background-color: #fd9a6ce5; /* Cambiar el color de fondo al pasar el cursor */
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.input-debounce {
  flex-grow: 1; /* Allow input to expand */
}

.btn-close {
  background: none;
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #bbb;
  cursor: pointer;
}

.btn-close:hover {
  color: #333;
}
