<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6">
        <input-debounce
          #inputDebounceComponent
          [delay]="500"
          id="inputProducto"
          height="15px"
          type="text"
          placeholder="Buscar"
          required=""
          aria-invalid="false"
          (value)="buscar($event)"
        >
        </input-debounce>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3">
        <app-incrementador
          [cantidad]="cantidad"
          (change)="changeCantidad($event)"
        ></app-incrementador>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3">

      </div>
    </div>

    @if(productos() && productos().length > 0) {


      <div class="product-container">
        @for (producto of productos(); track producto.id) {
        <app-product-card
          (productClicked)="seleccionarProducto($event)"
          [producto]="producto"
        ></app-product-card>
        } @empty {

        }
      </div>
      } @else {
        <div class="w-100 empty-message-container">
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">Atención</h4>
            <p>No se han encontrado productos...</p>
          </div>
        </div>
      }

    <div class="d-flex justify-content-center">
      <app-paginator
        [totalPages]="totalPages()"
        [currentPage]="page()"
        (pageChanged)="onPageChanged($event)"
      >
      </app-paginator>
    </div>
  </div>
</div>
