<div class="modal-background" *ngIf="isOpen" (click)="close()">
  <div
    class="modal-container"
    [ngClass]="{
      small: size === 'small',
      medium: size === 'medium',
      large: size === 'large'
    }"
  >
  <div class="modal-header">
    <h5 class="modal-title">{{titulo}}</h5>
    <button type="button" class="btn-close" (click)="close()">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div (click)="$event.stopPropagation()">
    <ng-content></ng-content>
  </div>
  </div>
</div>
