<div class="input-group mb-3">
  <div class="input-group" id="button-addon3">
    <button class="btn btn-outline-success" type="button" (click)="cambiarValor(-1)">
      <i class="bi bi-dash"></i>
    </button>
    <input type="number" class="form-control" name="cantidad" id="inputCantidad" [(ngModel)]="cantidad" min="1"  (ngModelChange) = "cambioValor()" >
    <button class="btn btn-outline-success" type="button" (click)="cambiarValor(+1)">
      <i class="bi bi-plus"></i>
    </button>
  </div>
</div>
