<div class="card">
  <div class="card-header">
    @if(id()){ Actualizar Cliente }@else { Crear Cliente }
  </div>

  <div class="card-body">
    <form [formGroup]="clienteForm" (ngSubmit)="onSubmit($event)">
      <div class="row mb-3">
        <label for="razonSocial" class="col-md-4 col-lg-3 col-form-label"
          >Razón Social <span style="color: red">(*)</span></label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control"
            id="razonSocial"
            formControlName="razonSocial"
          />
          <div
            *ngIf="
              clienteForm.get('razonSocial')?.touched &&
              clienteForm.get('razonSocial')?.invalid
            "
            class="text-danger"
          >
            <div *ngIf="clienteForm.get('razonSocial')?.errors?.['required']">
              Razón Social es un campo obligatorio.
            </div>
            <div *ngIf="clienteForm.get('razonSocial')?.errors?.['minlength']">
              Razón Social debe tener al menos 7 caracteres.
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="nroDocumento" class="col-md-4 col-lg-3 col-form-label">
          Nro Documento <span style="color: red">(*)</span>
        </label>
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control"
            id="nroDocumento"
            formControlName="nroDocumento"
            [ngClass]="{
              'is-invalid':
                clienteForm.get('nroDocumento')?.invalid &&
                clienteForm.get('nroDocumento')?.touched
            }"
          />
          <div
            *ngIf="
              clienteForm.get('nroDocumento')?.invalid &&
              clienteForm.get('nroDocumento')?.touched
            "
            class="invalid-feedback"
          >
            <div *ngIf="clienteForm.get('nroDocumento')?.errors?.['required']">
              RUC/CI/CE es un campo obligatorio.
            </div>
            <div *ngIf="clienteForm.get('nroDocumento')?.errors?.['minlength']">
              RUC/CI/CE debe tener al menos 7 caracteres.
            </div>
            <div *ngIf="clienteForm.get('nroDocumento')?.errors?.['pattern']">
              RUC/CI/CE solo puede contener números, letras y guiones. ej
              1258654-0
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="direccion" class="col-md-4 col-lg-3 col-form-label"
          >direccion</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control"
            id="direccion"
            formControlName="direccion"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="telefono" class="col-md-4 col-lg-3 col-form-label"
          >Teléfono <span style="color: red">(*)</span></label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control"
            id="telefono"
            formControlName="telefono"
            [ngClass]="{
              'is-invalid':
                clienteForm.get('telefono')?.invalid &&
                clienteForm.get('telefono')?.touched
            }"
          />
          <div
            *ngIf="
              clienteForm.get('telefono')?.invalid &&
              clienteForm.get('telefono')?.touched
            "
            class="invalid-feedback"
          >
            <div *ngIf="clienteForm.get('telefono')?.errors?.['required']">
              Teléfono es un campo obligatorio.
            </div>
            <div *ngIf="clienteForm.get('telefono')?.errors?.['pattern']">
              El teléfono solo puede contener números.
            </div>
            <div *ngIf="clienteForm.get('telefono')?.errors?.['minlength']">
              El teléfono debe tener al menos 6 caracteres.
            </div>
            <div *ngIf="clienteForm.get('telefono')?.errors?.['maxlength']">
              El teléfono debe tener como máximo 15 caracteres.
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="cel" class="col-md-4 col-lg-3 col-form-label"
          >Celular <span style="color: red">(*)</span></label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control"
            id="cel"
            formControlName="cel"
            [ngClass]="{
              'is-invalid':
                clienteForm.get('cel')?.invalid &&
                clienteForm.get('cel')?.touched
            }"
          />
          <div
            *ngIf="
              clienteForm.get('cel')?.invalid && clienteForm.get('cel')?.touched
            "
            class="invalid-feedback"
          >
            <div *ngIf="clienteForm.get('cel')?.errors?.['required']">
              Celular es un campo obligatorio.
            </div>
            <div *ngIf="clienteForm.get('cel')?.errors?.['pattern']">
              El celular solo puede contener números.
            </div>
            <div *ngIf="clienteForm.get('cel')?.errors?.['minlength']">
              El celular debe tener al menos 10 caracteres.
            </div>
            <div *ngIf="clienteForm.get('cel')?.errors?.['maxlength']">
              El celular debe tener como máximo 15 caracteres.
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="email" class="col-md-4 col-lg-3 col-form-label"
          >Email <span style="color: red">(*)</span></label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            [ngClass]="{
              'is-invalid':
                clienteForm.get('email')?.invalid &&
                clienteForm.get('email')?.touched
            }"
          />
          <div
            *ngIf="
              clienteForm.get('email')?.invalid &&
              clienteForm.get('email')?.touched
            "
            class="invalid-feedback"
          >
            <div *ngIf="clienteForm.get('email')?.errors?.['required']">
              El email es un campo obligatorio.
            </div>
            <div *ngIf="clienteForm.get('email')?.errors?.['email']">
              El formato del email es inválido.
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="listaPrecioId" class="col-md-4 col-lg-3 col-form-label"
          >Lista de Precio <span style="color: red">(*)</span></label
        >
        <div class="col-md-8 col-lg-9">
          <select
            class="form-control"
            id="listaPrecioId"
            formControlName="listaPrecioId"
          >
            <option *ngFor="let lista of listas()" [value]="lista.id">
              {{ lista.descripcion }}
            </option>
          </select>
        </div>
      </div>

            <div class="row mb-3">
        <label for="formaVentaId" class="col-md-4 col-lg-3 col-form-label"
          >Forma Venta</label
        >
        <div class="col-md-8 col-lg-9">
          <select
            class="form-control"
            id="formaVentaId"
            formControlName="formaVentaId"
          >
            <option *ngFor="let forma of formas()" [value]="forma.id">
              {{ forma.descripcion }}
            </option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label for="latitud" class="col-md-4 col-lg-3 col-form-label"
          >latitud</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control"
            id="latitud"
            formControlName="latitud"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="longitud" class="col-md-4 col-lg-3 col-form-label"
          >longitud</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control"
            id="longitud"
            formControlName="longitud"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6">
          <div class="row mb-3">
            <label for="fullName" class="col-md-4 col-lg-3 col-form-label"
              >Estados</label
            >
            <div class="col-md-8 col-lg-9">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="predeterminado"
                  formControlName="predeterminado"
                  checked=""
                />
                <label class="form-check-label" for="predeterminado">
                  Predeterminado
                </label>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="excentoIva"
                  formControlName="excentoIva"
                  checked=""
                />
                <label class="form-check-label" for="excentoIva">
                  excentoIva
                </label>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="empleado"
                  formControlName="empleado"
                  checked=""
                />
                <label class="form-check-label" for="empleado">
                  empleado
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="activo"
                  formControlName="activo"
                  checked
                />
                <label class="form-check-label" for="activo"> activo </label>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="propietario"
                  formControlName="propietario"
                  checked=""
                />
                <label class="form-check-label" for="propietario">
                  propietario
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <div class="btn-group">
          <button
            class="btn btn-outline-success"
            type="submit"
            class="btn btn-outline-success"
          >
            @if(id()){ Actualizar <i class="bi bi-file-earmark-plus"></i>} @else
            { Crear <i class="bi bi-file-earmark-plus"></i>}
          </button>
          <button
            type="button"
            (click)="ngOnInit()"
            class="btn btn-outline-danger"
          >
            Cancelar <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
