<div class="card">


  <div class="card-body">
    <div class="row mb-4">
      <div class="col-12 mb-3">
        <h6 class="text-info">Datos de empresa</h6>
      </div>
    </div>
    <form [formGroup]="empresaForm" (ngSubmit)="onSubmit($event)">
      <div class="row mb-3">
        <label for="ruc" class="col-md-4 col-lg-3 col-form-label"
          >Logo reporte
        </label>
        <div class="col-md-8 col-lg-9">
          <img
            *ngIf="!imgTemps[0] && !empresaForm.get('img')?.value"
            [src]="sinImagen"
            class="img-avatar"
          />
          <img *ngIf="imgTemps[0]" [src]="imgTemps[0]" class="img-avatar" />
          <img
            *ngIf="empresaForm.get('img')?.value && !imgTemps[0]"
            [attr.src]="
              empresaForm.get('img')?.value | imagen: 'empresas' | async
            "
            class="img-avatar"
          />

          <input
            class="form-control form-control-sm validation"
            type="file"
            id="fileInput"
            (change)="actualizarImagen($event, empresaForm.get('id')?.value)"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="ruc" class="col-md-4 col-lg-3 col-form-label"
          >Ruc <span style="color: red">(*)</span></label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control custom-input custom-input-sm"
            id="ruc"
            formControlName="ruc"
          />
          <div
            *ngIf="
              empresaForm.get('ruc')?.touched && empresaForm.get('ruc')?.invalid
            "
            class="text-danger"
          >
            <div *ngIf="empresaForm.get('ruc')?.errors?.['required']">
              Este campo es obligatorio.
            </div>
            <div *ngIf="empresaForm.get('ruc')?.errors?.['pattern']">
              Debe ser un formato válido (ej. 4353456-7).
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="razonSocial" class="col-md-4 col-lg-3 col-form-label"
          >Razon social <span style="color: red">(*)</span></label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control custom-input custom-input-sm"
            id="razonSocial"
            formControlName="razonSocial"
          />
          <div
            *ngIf="
              empresaForm.get('razonSocial')?.touched &&
              empresaForm.get('razonSocial')?.invalid
            "
            class="text-danger"
          >
            <div *ngIf="empresaForm.get('razonSocial')?.errors?.['required']">
              Este campo es obligatorio.
            </div>
            <div *ngIf="empresaForm.get('razonSocial')?.errors?.['minlength']">
              Debe tener al menos 6 caracteres.
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="nombreFantasia" class="col-md-4 col-lg-3 col-form-label"
          >Nombre fantasia</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control custom-input custom-input-sm"
            id="nombreFantasia"
            formControlName="nombreFantasia"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="codMoneda" class="col-md-4 col-lg-3 col-form-label"
          >Moneda</label
        >
        <div class="col-md-8 col-lg-9">
          <select
            class="custom-select custom-select-sm"
            formControlName="codMoneda"
            id="codMoneda"
          >
            <option *ngFor="let i of monedas" [value]="i.codigo">
              {{ i.codigo }} - {{ i.descripcion }}
            </option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label for="simboloMoneda" class="col-md-4 col-lg-3 col-form-label"
          >Simbolo</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control custom-input custom-input-sm"
            id="simboloMoneda"
            formControlName="simboloMoneda"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="idCSC" class="col-md-4 col-lg-3 col-form-label"
          >idCSC</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control custom-input custom-input-sm"
            id="idCSC"
            formControlName="idCSC"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="csc" class="col-md-4 col-lg-3 col-form-label">CSC</label>
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control custom-input custom-input-sm"
            id="csc"
            formControlName="csc"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="tipoContId" class="col-md-4 col-lg-3 col-form-label"
          >Tipo Contribuyente</label
        >
        <div class="col-md-8 col-lg-9">
          <select
            class="custom-select custom-select-sm"
            formControlName="tipoContId"
            id="tipoContId"
          >
            <option *ngFor="let c of contribuyentes" [value]="c.codigo">
              {{ c.descripcion }}
            </option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label for="tipoTransaId" class="col-md-4 col-lg-3 col-form-label"
          >Tipo Transacción</label
        >
        <div class="col-md-8 col-lg-9">
          <select
            class="custom-select custom-select-sm"
            formControlName="tipoTransaId"
            id="tipoTransaId"
          >
            <option *ngFor="let t of transacciones" [value]="t.codigo">
              {{ t.descripcion }}
            </option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label for="tipoImpId" class="col-md-4 col-lg-3 col-form-label"
          >Tipo Impuesto</label
        >
        <div class="col-md-8 col-lg-9">
          <select
            class="custom-select custom-select-sm"
            formControlName="tipoImpId"
            id="tipoImpId"
          >
            <option *ngFor="let i of impuestos" [value]="i.codigo">
              {{ i.descripcion }}
            </option>
          </select>
        </div>
      </div>


      <div class="row mb-3">
        <label for="codDepartamento" class="col-md-4 col-lg-3 col-form-label"
          >Departamento</label
        >
        <div class="col-md-8 col-lg-9">
          <select
            class="custom-select custom-select-sm"
            formControlName="codDepartamento"
            id="codDepartamento"
          >
            <option *ngFor="let i of departamentos" [value]="i.codigo">
              {{ i.descripcion }}
            </option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label for="codCiudad" class="col-md-4 col-lg-3 col-form-label"
          >Ciudad</label
        >
        <div class="col-md-8 col-lg-9">
          <select
            class="custom-select custom-select-sm"
            formControlName="codCiudad"
            id="codCiudad"
          >
            <option *ngFor="let i of ciudades" [value]="i.codigo">
              {{ i.descripcion }}
            </option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label for="codBarrio" class="col-md-4 col-lg-3 col-form-label"
          >Barrio</label
        >
        <div class="col-md-8 col-lg-9">
          <select
            class="custom-select custom-select-sm"
            formControlName="codBarrio"
            id="codBarrio"
          >
            <option *ngFor="let i of barrios" [value]="i.codigo">
              {{ i.descripcion }}
            </option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label for="telefono" class="col-md-4 col-lg-3 col-form-label"
          >Teléfono <span style="color: red">(*)</span></label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control custom-input custom-input-sm"
            id="telefono"
            formControlName="telefono"
            placeholder="(021) 588 9000"
          />
          <div
            *ngIf="
              empresaForm.get('telefono')?.touched &&
              empresaForm.get('telefono')?.invalid
            "
            class="text-danger"
          >
            <div *ngIf="empresaForm.get('telefono')?.errors?.['required']">
              El teléfono es obligatorio.
            </div>
            <div *ngIf="empresaForm.get('telefono')?.errors?.['pattern']">
              Debe seguir el formato (021) 588 9000.
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="web" class="col-md-4 col-lg-3 col-form-label"
          >Web <span style="color: red">(*)</span></label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control custom-input custom-input-sm"
            id="web"
            formControlName="web"
          />
          <div
            *ngIf="
              empresaForm.get('web')?.touched && empresaForm.get('web')?.invalid
            "
            class="text-danger"
          >
            <div *ngIf="empresaForm.get('web')?.errors?.['required']">
              Este campo es obligatorio.
            </div>
            <div *ngIf="empresaForm.get('web')?.errors?.['pattern']">
              Debe ser una URL válida.
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="modoSifen" class="col-md-4 col-lg-3 col-form-label"
          >Agente Sifen<span style="color: red">(*)</span></label
        >
        <div class="col-md-8 col-lg-9">
          <select
            class="custom-select custom-select-sm"
            formControlName="modoSifen"
            name="modoSifen"
            id="modoSifen"
          >
          <option [value]="'SI'">Sí</option>
          <option [value]="'NO'">No</option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <label for="envioKude" class="col-md-4 col-lg-3 col-form-label"
          >Envio de kude<span style="color: red">(*)</span></label
        >
        <div class="col-md-8 col-lg-9">
          <select
            class="custom-select custom-select-sm"
            formControlName="envioKude"
            name="envioKude"
            id="envioKude"
          >
          <option [value]="'SI'">Sí</option>
          <option [value]="'NO'">No</option>
          </select>
        </div>
      </div>


      <div class="row mb-3">
        <label for="email" class="col-md-4 col-lg-3 col-form-label"
          >Email <span style="color: red">(*)</span></label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="email"
            class="form-control custom-input custom-input-sm"
            id="email"
            formControlName="email"
          />
          <div
            *ngIf="
              empresaForm.get('email')?.touched &&
              empresaForm.get('email')?.invalid
            "
            class="text-danger"
          >
            <div *ngIf="empresaForm.get('email')?.errors?.['required']">
              Este campo es obligatorio.
            </div>
            <div *ngIf="empresaForm.get('email')?.errors?.['email']">
              Debe ser un email válido.
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-md-4 col-lg-3 col-form-label">
          Actividades <span style="color: red">(*)</span>
        </label>
        <div class="col-md-8 col-lg-9">
          <app-activiadad></app-activiadad>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-md-4 col-lg-3 col-form-label">
          Certificado <span style="color: red">(*)</span>
        </label>
        <div class="col-md-8 col-lg-9">
          <app-certificado></app-certificado>
        </div>
      </div>

      <div class="text-center">
        <div class="btn-group">
          <button
            class="btn btn-outline-success"
            type="submit"
            class="btn btn-outline-success"
          >
            Actualizar <i class="bi bi-file-earmark-plus"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
