<div class="card">
  <div class="card-header">Datos de empresa</div>

  <div class="card-body">
    <form [formGroup]="empresaForm" (ngSubmit)="onSubmit($event)">
      <div class="row mb-3">
        <img
          *ngIf="!imgTemps[0] && !empresaForm.get('img')?.value"
          [src]="sinImagen"
          class="img-avatar"
        />
        <img *ngIf="imgTemps[0]" [src]="imgTemps[0]" class="img-avatar" />
        <img
          *ngIf="empresaForm.get('img')?.value && !imgTemps[0]"
          [attr.src]="
            empresaForm.get('img')?.value | imagen: 'empresas' | async
          "
          class="img-avatar"
        />

        <input
          class="form-control form-control-sm validation"
          type="file"
          id="fileInput"
          (change)="actualizarImagen($event, empresaForm.get('id')?.value)"
        />
      </div>

      <div class="row mb-3">
        <label for="ruc" class="col-md-4 col-lg-3 col-form-label"
          >Ruc <span style="color: red">(*)</span></label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control form-control-sm"
            id="ruc"
            formControlName="ruc"
          />
          <div
            *ngIf="
              empresaForm.get('ruc')?.touched && empresaForm.get('ruc')?.invalid
            "
            class="text-danger"
          >
            <div *ngIf="empresaForm.get('ruc')?.errors?.['required']">
              Este campo es obligatorio.
            </div>
            <div *ngIf="empresaForm.get('ruc')?.errors?.['pattern']">
              Debe ser un formato válido (ej. 4353456-7).
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="razonSocial" class="col-md-4 col-lg-3 col-form-label"
          >Razon social <span style="color: red">(*)</span></label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control form-control-sm"
            id="razonSocial"
            formControlName="razonSocial"
          />
          <div
            *ngIf="
              empresaForm.get('razonSocial')?.touched &&
              empresaForm.get('razonSocial')?.invalid
            "
            class="text-danger"
          >
            <div *ngIf="empresaForm.get('razonSocial')?.errors?.['required']">
              Este campo es obligatorio.
            </div>
            <div *ngIf="empresaForm.get('razonSocial')?.errors?.['minlength']">
              Debe tener al menos 6 caracteres.
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="nombreFantasia" class="col-md-4 col-lg-3 col-form-label"
          >Nombre fantasia</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control form-control-sm"
            id="nombreFantasia"
            formControlName="nombreFantasia"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="telefono" class="col-md-4 col-lg-3 col-form-label"
          >Teléfono <span style="color: red">(*)</span></label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control"
            id="telefono"
            formControlName="telefono"
            placeholder="(021) 588 9000"
          />
          <div
            *ngIf="
              empresaForm.get('telefono')?.touched &&
              empresaForm.get('telefono')?.invalid
            "
            class="text-danger"
          >
            <div *ngIf="empresaForm.get('telefono')?.errors?.['required']">
              El teléfono es obligatorio.
            </div>
            <div *ngIf="empresaForm.get('telefono')?.errors?.['pattern']">
              Debe seguir el formato (021) 588 9000.
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="actividad1" class="col-md-4 col-lg-3 col-form-label">Actividad 1</label>
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control form-control-sm"
            id="actividadcode1"
            formControlName="actividadcode1"
          />
          <textarea
            type="text"
            class="form-control"
            id="actividad1"
            formControlName="actividad1"
          ></textarea>
        </div>
      </div>

      <div class="row mb-3">
        <label for="actividad2" class="col-md-4 col-lg-3 col-form-label">Actividad 2</label>
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control form-control-sm"
            id="actividadcode2"
            formControlName="actividadcode2"
          />
          <textarea
            type="text"
            class="form-control"
            id="actividad2"
            formControlName="actividad2"
          ></textarea>
        </div>
      </div>

      <div class="row mb-3">
        <label for="actividad3" class="col-md-4 col-lg-3 col-form-label">Actividad 3</label>
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control form-control-sm"
            id="actividadcode3"
            formControlName="actividadcode3"
          />
          <textarea
            type="text"
            class="form-control"
            id="actividad3"
            formControlName="actividad3"
          ></textarea>
        </div>
      </div>

      <div class="row mb-3">
        <label for="web" class="col-md-4 col-lg-3 col-form-label"
          >Web <span style="color: red">(*)</span></label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="text"
            class="form-control form-control-sm"
            id="web"
            formControlName="web"
          />
          <div
            *ngIf="
              empresaForm.get('web')?.touched && empresaForm.get('web')?.invalid
            "
            class="text-danger"
          >
            <div *ngIf="empresaForm.get('web')?.errors?.['required']">
              Este campo es obligatorio.
            </div>
            <div *ngIf="empresaForm.get('web')?.errors?.['pattern']">
              Debe ser una URL válida.
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="email" class="col-md-4 col-lg-3 col-form-label"
          >Email <span style="color: red">(*)</span></label
        >
        <div class="col-md-8 col-lg-9">
          <input
            type="email"
            class="form-control form-control-sm"
            id="email"
            formControlName="email"
          />
          <div
            *ngIf="
              empresaForm.get('email')?.touched &&
              empresaForm.get('email')?.invalid
            "
            class="text-danger"
          >
            <div *ngIf="empresaForm.get('email')?.errors?.['required']">
              Este campo es obligatorio.
            </div>
            <div *ngIf="empresaForm.get('email')?.errors?.['email']">
              Debe ser un email válido.
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <div class="btn-group">
          <button
            class="btn btn-outline-success"
            type="submit"
            class="btn btn-outline-success"
          >
            Actualizar <i class="bi bi-file-earmark-plus"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
