

  <div class="card-body">
    <div id="details" style="overflow-x: auto">
      <table class="table table-responsive-sm table-sm mt-2" id="tableProducts">
        <thead>
          <tr>
            <th>Id</th>
            <th>Descripcion</th>
            @if(tipo == 'subcategorias'){
              <th>Categoria</th>
            }
            @if(tipo == 'presentaciones'){
              <th>Sice</th>
            }
            @if(tipo == 'variedades'){
              <th>Color</th>
            }
            @if(tipo == 'unidades'){
              <th>Code</th>
            }

            <th>Activo</th>
          </tr>
        </thead>

        <tbody id="entidades">
          <tr [formGroup]="entidadForm" >
            <td class="field">xxx</td>


            <td class="field">
              <input type="text" class="form-control form-control-sm validation" formControlName="descripcion" />
            </td>
            @if(tipo == 'subcategorias'){

              <td class="field">
                <select class="custom-select custom-select-sm" formControlName="categoriaId">
                  <option *ngFor="let categoria of categorias" [value]="categoria.id">
                    {{ categoria.descripcion }}
                  </option>
                </select>
              </td>
            }
            @if(tipo == 'presentaciones'){
              <td class="field">
                <input type="text" class="form-control form-control-sm validation" formControlName="size" />
              </td>
            }
            @if(tipo == 'variedades'){
              <td class="field">
                <input type="color" class="form-control form-control-color" formControlName="color" value="#fd9a6ce5" title="Seleccione color">
              </td>
            }
            @if(tipo == 'unidades'){
              <td class="field">
                <input type="text" class="form-control form-control-sm validation" formControlName="code" />
              </td>
            }

            <td class="field">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" formControlName="activo" checked />
              </div>
            </td>

            <td class="field">
              <button type="button" class="btn btn-sm btn-outline-success" (click)="crear($event)">
                <i class="bi bi-file-earmark-plus"></i>
              </button>
            </td>
          </tr>
          @for (entidad of entidades;let index = $index; track entidad.id; )
          {
          <tr class=" ">
            <td class="field">{{ entidad.id }}</td>


            <td class="field">
              <input class="form-control form-control-sm validation" [(ngModel)]="entidad.descripcion" type="text" name="descripcion" id="descripcion" />
            </td>



            @if(tipo == 'subcategorias'){

              <td class="field">
                <select class="custom-select custom-select-sm" id="categoriaId" [(ngModel)]="entidad.categoriaId">
                  <option *ngFor="let categoria of categorias" [value]="categoria.id">
                    {{ categoria.descripcion }}
                  </option>
                </select>
              </td>
            }


            @if(tipo == 'presentaciones'){
              <td class="field">
                <input type="text" class="form-control form-control-sm validation"  [(ngModel)]="entidad.size"name="size" id="size" />
              </td>
            }
            @if(tipo == 'variedades'){
              <td class="field">
                <input type="color" class="form-control form-control-color"   [(ngModel)]="entidad.color" name="color" id="color" value="#4154f1" title="Seleccione color">
              </td>
            }
            @if(tipo == 'unidades'){
              <td class="field">
                <input type="text" class="form-control form-control-sm validation"  [(ngModel)]="entidad.code"  name="code" id="code" />
              </td>
            }


            <td class="field">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="activo{{index}}" [(ngModel)]="entidad.activo" checked="" />
              </div>
            </td>


            <td class="field">
              <button type="button" class="btn btn-sm btn-outline-success" (click)="actualizar(entidad )">
                <i class="bi bi-floppy"></i>
              </button>
            </td>
          </tr>
          }@empty {
          <tr></tr>
          }
        </tbody>
      </table>
    </div>
  </div>
