<section class="section profile">
  <div class="row">
    <div class="col-xl-8">

      @if(sucursal()?.id && listaPrecio()?.id ) {

        <app-product-list
          [sucursalId]="sucursal().id"
          [listaPrecioId]="listaPrecio().id" (productClicked)="seleccionarProducto($event)"
        ></app-product-list>

        } @else {
        <span class="client-info">cargando ...</span>
        }

    </div>
    <div class="col-xl-4">
      <!--   selectores -->
      <div class="card">
        <div class="card-body pt-4 d-flex flex-column align-items-center">
          <div class="input-group mb-3 w-100 d-flex selector">
            <span
              (click)="abrirBuscador()"
              class="input-group-text flex-grow-1 d-flex justify-content-between btn-outline-success text-success"
              id="basic-addon3"
            >
              @if(cliente().nroDocumento != '') {
              <span class="client-info"
                >{{ cliente().nroDocumento }} -
                {{ cliente().razonSocial }}</span
              >
              } @else {
              <span class="client-info">cargando ...</span>
              }
              <span class="dropdown-icon">
                <i class="mh-1 fa-solid fa-sort-down"></i>
              </span>
            </span>
            <span
              class="input-group-text btn-outline-success text-success"
              id="basic-addon3"
            >
              <i class="fa-solid fa-user-plus"></i>
            </span>
          </div>

          <div class="d-flex w-100">
            <!-- Agrupación de Sucursal y Serie -->
            <div class="input-group mb-3 w-50 d-flex selector">
              <span
                class="input-group-text flex-grow-1 d-flex justify-content-between"
                id="basic-addon3"
              >
                @if(sucursal().id) {
                <span class="client-info"
                  >Sucursal <small>{{ sucursal().descripcion }}</small></span
                >
                } @else {
                <span class="client-info"><small>cargando ...</small></span>
                }
                <span class="dropdown-icon">
                  <i class="mh-1 fa-solid fa-sort-down"></i>
                </span>
              </span>
            </div>

            <div class="input-group mb-3 w-50 d-flex selector">
              <span
                class="input-group-text flex-grow-1 d-flex justify-content-between"
                id="basic-addon3"
              >
                @if(numeracion().id) {
                <span class="client-info"
                  >Serie: <small>{{ numeracion().serie }}</small>
                </span>
                } @else {
                <span class="client-info"><small>cargando ...</small></span>
                }
                <span class="dropdown-icon">
                  <i class="mh-1 fa-solid fa-sort-down"></i>
                </span>
              </span>
            </div>
          </div>

          <div class="d-flex w-100">
            <!-- Agrupación de Forma de Venta y Lista de Precio -->
            <div class="input-group mb-3 p w-50 d-flex selector">
              <span
                class="input-group-text flex-grow-1 d-flex justify-content-between"
                id="basic-addon3"
              >
                @if(formaVenta().id) {
                <span class="client-info"
                  >Forma venta:
                  <small>{{ formaVenta().descripcion }}</small></span
                >
                } @else {
                <span class="client-info"><small>cargando ...</small></span>
                }
                <span class="dropdown-icon">
                  <i class="mh-1 fa-solid fa-sort-down"></i>
                </span>
              </span>
            </div>

            <div class="input-group mb-3 w-50 d-flex selector">
              <span
                class="input-group-text flex-grow-1 d-flex justify-content-between"
                id="basic-addon3"
              >
                @if(listaPrecio().id) {
                <span class="client-info"
                  >Lista Precio: <small>{{ listaPrecio().descripcion }}</small>
                </span>
                } @else {
                <span class="client-info"><small>cargando ...</small></span>
                }
                <span class="dropdown-icon">
                  <i class="mh-1 fa-solid fa-sort-down"></i>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!--   detalles -->
      <div class="card">
        <div class="card-body pt-4 d-flex flex-column align-items-center">
          <div id="details">
            <table class="table caption-top">
              <caption>
                Items({{
                  detalles?.length | number
                }})
              </caption>
              <thead>
                <tr>
                  <th scope="col">Cant.</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Total</th>
                  <th scope="col">Del</th>
                </tr>
              </thead>
              <tbody>
                <!--                 @for (detalle of detalles; track detalle.varianteId; let index = $index) { -->
                @for (detalle of detalles; track detalle.varianteId; let index =
                $index) {
                <tr>
                  <th scope="row">{{ detalle.cantidad | number }}</th>
                  <td>{{ detalle.codErp }}</td>
                  <td>{{ detalle.importePrecio | number }} Gs</td>
                  <td>{{ detalle.importeTotal | number }} Gs</td>
                  <td>
                    <button class="btn btn-sm btn-outline-danger text-danger">
                      <i class="bi bi-trash3"></i>
                    </button>
                  </td>
                </tr>
                } @empty {
                <tr></tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!--   totales -->
      <div class="card">
        <div class="card-body">
          <!--   <h5 class="card-title">Totales <span> </span></h5> -->
          <div class="d-flex align-items-center">
            <div class="ps-3">
              <span class="text-danger small pt-1 fw-bold">Subtotal</span>
              <h6 class="text-right">
                {{ factura().importeSubtotal | number }} Gs
              </h6>
            </div>

            <div class="ps-3">
              <span class="text-danger small pt-1 fw-bold">Descuento</span>
              <h6 class="text-right">
                {{ factura().importeDescuento | number }} Gs
              </h6>
            </div>

            <div class="ps-3">
              <span class="text-danger small pt-1 fw-bold">Total</span>
              <h6 class="text-right font-weight-bold">
                {{ factura().importeTotal | number }} Gs
              </h6>
            </div>
          </div>
        </div>
      </div>
      <!--   botones -->
      <div class="card">
        <div class="card-body btn-group">
          <button type="button" class="btn btn-outline-success">Pagar</button>
          <button type="button" class="btn btn-outline-danger">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- selector de cliente-->
@if(searchCliente ) {
<app-cliente-search
  [isOpen]="searchCliente"
  (cliente)="selectCliente($event)"
  (closeModal)="searchCliente = false"
></app-cliente-search>
}
