<!-- sidebar.component.html -->
<aside id="sidebar" class="sidebar"  >
  <ul class="sidebar-nav" id="sidebar-nav">
    <li *ngFor="let item of menuItems" class="nav-item">
      <a *ngIf="item.url; else subItems" class="nav-link" [routerLink]="item.url">
        <i [class]="item.icon"></i>
        <span>{{ item.title }}</span>
      </a>
      <ng-template #subItems>
        <a class="nav-link collapsed" [attr.data-bs-target]="'#' + item.title.toLowerCase() + '-nav'"
           data-bs-toggle="collapse" href="#">
          <i [class]="item.icon"></i>
          <span>{{ item.title }}</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul [attr.id]="item.title.toLowerCase() + '-nav'" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li *ngFor="let subitem of item.subitems">
            <a [routerLink]="subitem.url">
              <i class="bi bi-circle"></i><span>{{ subitem.title }}</span>
            </a>
          </li>
        </ul>
      </ng-template>
    </li>
  </ul>
</aside>
