/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: #e2e2e2;
}

.img-avatar {
  height: 200px;
  width: 200px;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 0.25rem 0.5rem #e6edef;
}
.card .card-head {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #edf1f7;
  font-size: 1rem;
  font-weight: 600;
}
.card .card-body {
  padding: 1rem 1.5rem;
}

main {
  position: absolute;
  width: 100%;
  top: 4rem;
  z-index: 1;
}

.display-area {
  position: absolute;
  width: calc(100% - 80px);
  left: 80px;
}
.display-area-shrink {
  width: calc(100% - 250px);
  left: 250px;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #768192;
  background: #fff url('../src/assets/select.svg') no-repeat right 0.25rem
    center/8px 9px;
  border-color: #d8dbe0;
}

.custom-select:focus {
  border-color: #958bef;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(50, 31, 219, 0.25);
}

.custom-select:focus::-ms-value {
  color: #768192;
  background-color: #fff;
}

.custom-select[multiple],
.custom-select[size]:not([size="1"]) {
  height: auto;
  background-image: none;
}

html:not([dir="rtl"]) .custom-select[multiple],
html:not([dir="rtl"]) .custom-select[size]:not([size="1"]) {
  padding-right: 0.75rem;
}

*[dir="rtl"] .custom-select[multiple],
*[dir="rtl"] .custom-select[size]:not([size="1"]) {
  padding-left: 0.75rem;
}

.custom-select:disabled {
  color: #8a93a2;
  background-color: #d8dbe0;
}

.custom-select::-ms-expand {
  display: none;
}

.custom-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #768192;
}

.custom-select-sm {
  height: calc(1.5em + 0.6rem + 2px);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.765625rem;
}

html:not([dir="rtl"]) .custom-select-sm {
  padding-left: 0.5rem;
}

*[dir="rtl"] .custom-select-sm {
  padding-right: 0.5rem;
}

.custom-select-lg {
  height: calc(1.5em + 1rem + 2px);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.09375rem;
}



.custom-control-label::before,
.custom-file-label,
.custom-select {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .custom-control-label::before,
  .custom-file-label,
  .custom-select {
    transition: none;
  }
}
